django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
react-vite
axios
requests
requests-oauthlib
python-openid
django-allauth
pyjwt
djangorestframework_simplejwt


SuperUser:
->Username:admin2
->Pass:admin

TestUser:
->Username:zero
->Pass:userzero

